In [48]:
import sys
sys.path.append('./')

In [49]:
import pandas as pd
from utils import limpiar_texto, path_exists
from constants import CODIFIED_DF_PATH, PROCESSED_DF_PATH

In [50]:
# Leemos el csv con los datos salidos del EDA
df = pd.read_csv(CODIFIED_DF_PATH)

In [51]:
df.head()

                                                text  Bueno  Malo  Neutral
0  love all the amazing colors but the black is r...    0.0   0.0      1.0
1  I really like how consistent the bright was is...    1.0   0.0      0.0
2   My grand niece and i are enjoying with games ...    1.0   0.0      0.0
3  Let me say first off that I have just unboxed ...    0.0   1.0      0.0
4                    My kid loves this game he’s 5/6    1.0   0.0      0.0

In [52]:
df.shape

(184970, 4)

In [53]:
df.isna().sum().sum()

0

In [54]:
# Guardamos el df en caso de que no exista
if not path_exists(PROCESSED_DF_PATH):
    # Los pasamos a través de la función del preprocesamiento
    df_processed = pd.concat([df['text'].apply(limpiar_texto), df.drop(columns='text')], axis=1)
    
    print(f'Actualmente hay {df_processed.shape[0]} registros')
    
    # Debido a la naturaleza de los datos y el funcionamiento de la eliminación de stopwords y demás procesos, puede ocurrir que en ciertas reviews al final se quede el texto vacío
    # Por lo que para evitar tener filas con datos nulos vamos a realizar un ultimo dropeo de valores na o cualquier otro valor no deseado
    df_processed = df_processed[df_processed['text'].fillna("").str.strip() != ""]
    
    print(f'Hay {df_processed.isna().sum().sum()} valores nulos')
    
    df_processed.to_csv(PROCESSED_DF_PATH, index=False)
else:
    df_processed = pd.read_csv(PROCESSED_DF_PATH)

Actualmente hay 184970 registros
Hay 0 valores nulos

In [55]:
df_processed.head()

                                                text  Bueno  Malo  Neutral
0  love amazing color black really hard see alway...    0.0   0.0      1.0
1  really like consistent bright throughout size ...    1.0   0.0      0.0
2                             grand niece enjoy game    1.0   0.0      0.0
3  let say first unboxed mouse review base little...    0.0   1.0      0.0
4                                 kid love game he s    1.0   0.0      0.0

In [56]:
df_processed.shape

(184838, 4)

In [57]:
df_processed.isna().sum()

text       0
Bueno      0
Malo       0
Neutral    0
dtype: int64