In [1]:
import sys
sys.path.append('./')

In [2]:
import pandas as pd
from utils import clean_text, path_exists
from constants import CODIFIED_DF_PATH, PROCESSED_DF_PATH

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\aleja\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [3]:
# Leemos el csv con los datos salidos del EDA
df = pd.read_csv(CODIFIED_DF_PATH)

In [4]:
df.head()

   category                                               text
0         2  love all the amazing colors but the black is r...
1         0  I really like how consistent the bright was is...
2         0   My grand niece and i are enjoying with games ...
3         1  Let me say first off that I have just unboxed ...
4         0                    My kid loves this game he’s 5/6

In [5]:
df.shape

(184970, 2)

In [6]:
df.isna().sum().sum()

0

In [ ]:
# Guardamos el df en caso de que no exista
if not path_exists(PROCESSED_DF_PATH):
    # Los pasamos a través de la función del preprocesamiento
    df_processed = pd.concat([df['text'].apply(clean_text), df['category']], axis=1)
    
    print(f'Actualmente hay {df_processed.shape[0]} registros')
    
    # Debido a la naturaleza de los datos y el funcionamiento de la eliminación de stopwords y demás procesos, puede ocurrir que en ciertas reviews al final se quede el texto vacío
    # Por lo que para evitar tener filas con datos nulos vamos a realizar un ultimo dropeo de valores na o cualquier otro valor no deseado
    df_processed = df_processed[df_processed['text'].fillna("").str.strip() != ""]
    
    print(f'Hay {df_processed.isna().sum().sum()} valores nulos')
    
    df_processed.to_csv(PROCESSED_DF_PATH, index=False)
else:
    df_processed = pd.read_csv(PROCESSED_DF_PATH)

AttributeError: 'Series' object has no attribute 'df'

In [ ]:
df_processed.head()

                                                text  Bueno  Malo  Neutral
0  love amazing color black really hard see alway...    0.0   0.0      1.0
1  really like consistent bright throughout size ...    1.0   0.0      0.0
2                             grand niece enjoy game    1.0   0.0      0.0
3  let say first unboxed mouse review base little...    0.0   1.0      0.0
4                                 kid love game he s    1.0   0.0      0.0

In [ ]:
df_processed.shape

(184838, 4)

In [ ]:
df_processed.isna().sum()

text       0
Bueno      0
Malo       0
Neutral    0
dtype: int64